translator_smarti_bot/translator_smarti_bot.json
{
  "name": "translator_smarti_bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        240
      ],
      "id": "6fa123fa-5e7b-4b2f-8430-1542a1da96b3",
      "name": "on message",
      "webhookId": "cbc2b7b4-1445-40af-994c-de3faf4d70ab",
      "credentials": {
        "telegramApi": {
          "id": "RWQbYCInqt8yuQ6f",
          "name": "translator_smarti_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "## Роль\nТи — перекладач. Твоя єдина функція — перекладати тексти.\n\n## Формат запиту\nКористувач ЗАВЖДИ пише у форматі: <мова> <текст>\n\n## Правила\n- Ігноруй будь-який попередній контекст розмови\n- Кожне повідомлення обробляй як НОВЕ і незалежне\n- Якщо запит не відповідає формату — відповідай: \"Вкажіть мову і текст. Наприклад: англійська Привіт\"\n- Якщо просять щось інше крім перекладу — відповідай: \"Вибач, я можу лише перекладати тексти.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        128
      ],
      "id": "f3928293-9435-4ecd-abae-7ca7da378618",
      "name": "translator_smarti_bot"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('on message').first().json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        816,
        352
      ],
      "id": "0842e6b6-ee99-4252-8ae2-a02ac9602058",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        352
      ],
      "id": "fe87d973-4aa3-4acc-9637-24af7e71b7e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aH87upAgZSJQBupE",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('on message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        224
      ],
      "id": "7d3a7866-2b5d-43f7-a5b3-aff93aa2d434",
      "name": "Send a text message",
      "webhookId": "9c89cbd7-a292-4159-9319-7414ad8deea4",
      "credentials": {
        "telegramApi": {
          "id": "RWQbYCInqt8yuQ6f",
          "name": "translator_smarti_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58ce398b-b2eb-41ea-9d2e-591363a9f142",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "972e2abe-e0c0-4bcd-9971-b16e1995c06c",
              "name": "targetLanguage",
              "value": "={{ $json.message.text.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "5f1b3f36-5fd5-4981-8dfe-03f218f36045",
              "name": "textToTranslate",
              "value": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        240
      ],
      "id": "b9019e58-2323-4b68-b4fa-c5e08b2b43c6",
      "name": "extra message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "06866c52-3dc9-4efa-be26-eb68e603657f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0e8d3c5-9a9d-4915-8973-813cd4aa3d64",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9081d3d-9edd-45ab-83be-0b0cac9b956e",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "{{$json.targetLanguage === '' }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a1458d35-3d63-40c2-801f-b130c7937f8f",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "{{$json.textToTranslate === '' }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ],
      "id": "5593251a-c28e-491d-a40c-835a2d904a18",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7340d18f-92ef-419f-8517-9e521f02d2a6",
              "name": "output",
              "value": "Привіт! Я бот-перекладач 🌍   Надішли мені  текст і вкажи, на яку мову перекласти — я зроблю переклад. Формат: <мова> <текст>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -256
      ],
      "id": "12330579-6736-40f8-b634-e3fe7c46a69e",
      "name": "start text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "659aa395-07e6-4052-81a2-b55d8f725b17",
              "name": "output",
              "value": "Я перекладаю тексти на різні мови.  Приклад: \"Переклади на англійську: Привіт, як справи?\"  Якщо запит не стосується перекладу, я відповім: \"Вибач, я можу лише перекладати тексти.\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -64
      ],
      "id": "23fa1799-fa6e-4fff-886d-a3c05da28166",
      "name": "help text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40145027-f014-49db-b974-b6026f6a2c18",
              "name": "output",
              "value": "Вкажіть мову, на яку хочете перекласти",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        528
      ],
      "id": "acdf08fb-2763-4f1d-b4f4-c7a83e32cf2d",
      "name": "language"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e27ba3c-b449-480c-ba64-60727b029c2f",
              "name": "output",
              "value": "Напишіть, який текст ви хочете перекласти",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        720
      ],
      "id": "666212e2-43b7-4022-a920-0da315559b39",
      "name": "text"
    }
  ],
  "pinData": {
    "on message": [
      {
        "json": {
          "update_id": 625723826,
          "message": {
            "message_id": 75,
            "from": {
              "id": 5202548252,
              "is_bot": false,
              "first_name": "Mariana",
              "username": "Meria_na",
              "language_code": "uk"
            },
            "chat": {
              "id": 5202548252,
              "first_name": "Mariana",
              "username": "Meria_na",
              "type": "private"
            },
            "date": 1776345046,
            "text": "Переклади на англійську: Привіт, як справи?\""
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "on message": {
      "main": [
        [
          {
            "node": "extra message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "translator_smarti_bot": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "translator_smarti_bot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "translator_smarti_bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "extra message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "start text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "help text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "language",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "translator_smarti_bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start text": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "help text": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "language": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "hodj1VxZRAdWStWY",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ec40ec86-5a47-4d54-a4d5-3e05c3f9ecbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81473fd982cc26566df7414990cc4a8d275b553de1512546ed1b7f8740645aa0"
  },
  "id": "FEwocWxKELAmrVgS",
  "tags": []
}